
<div class="container">
  <h2>Panda Packages</h2>   
  
      <table>
        <col class="name_col">
        <col class="descrip_col">
        <col class="price_col">
        <col class="image_col">
        <col class="show_col">
        <col class="edit_col">
        <col class="destroy_col">

        <thead>
          <tr>
            <th class="name">Name</th>
            <th class="description">Description</th>
            <th class="price">Price</th>
            <th class="image">Image_url</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td class="name_row"><%= product.name %></td>
              <td class="description_row"><%= product.description %></td>
              <td class="price_row"><%= product.price %></td>
              <td class="image_row"><%= product.image_url %></td>
              <td class="show"><%= link_to 'Show', product %></td>
              <td class="edit"><%= link_to 'Edit', edit_product_path(product) %></td>
              <td class="destroy"><%= link_to 'Destroy', product, method: :destroy, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  
</div><!-- end container -->  
    <br>

  <div class="container new_product">
    <%= link_to 'New Product', new_product_path %>
  </div>
